extends layout

block content
  h1= 'Your details'
  p(style='font: 20px Arial, sans-serif;') FirstName:#{firstName} #[br] LastName:#{lastName} #[br] Description:#{description} #[br] Age:#{age} #[br] Weight:#{weight} #[br] Gender:#{gender} #[br] Lat:#{lat} #[br] Lon:#{lon}#[br]
